spring:
  application:
    name: api
  datasource:
    url: jdbc:h2:mem:fakebank
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  flyway:
    enabled: false